@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru');

body {
  font-family: 'Kosugi Maru', sans-serif;
}

h1 {
  text-align: center;
}

.list-form {
  display: flex;
  flex-direction: column;
}

.list-form input,
.description {
  box-shadow: 2px 3px;
  width: 26%;
}

.list-form * {
  margin: 2% auto;
}

button {
  box-shadow: 2px 3px;
}

.error {
  text-align: center;
}

.bucket-list article {
  border: 1px solid black;
  box-shadow: 3px 5px;
  width: 40%;
  margin: 3% auto;
  
}

.bucket-list article button {
  float: right;
}

.bucket-list article * {
  margin: 2%;
}

